<% content_for :title do %>RaumZeitLabor Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="status" data-view="HotStatus" data-title="Raumstatus" data-text="Raumstatus"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Kontostand" data-view="Number" data-title="Current Valuation" data-prefix="€"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Payback_Punkte" data-view="Number" data-title="Payback"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Temperatur_Raum_Beamerplattform" data-view="Number" data-title="Temperatur" data-suffix="°C"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="rnv" data-view="List" data-unordered="true" data-title="ÖPNV" data-moreinfo="in min"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="git_issues_labeled_defects" data-view="Graph" data-title="Offene Issues" data-moreinfo="Mehr unter github.com/raumzeitlabor/rzl-tuwat"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-title="Twitter" ></div>
      <i class="fa fa-twitter icon-background"></i>
    </li>
  </ul>
</div>
